@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin : 0px;
    padding :0;
    font-family: Fira Sans;
    
}
body{
    background: rgb(245, 245, 245);
}
#banner{
    width: 1400px;
    height: 560px; 
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin : 72px;
    
    

}

#banner .parent{
    padding : 80px 50px;
    display: flex;
    flex-direction:row;
    justify-content :space-around;
    

}
#banner .left{
    max-width: 50%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    gap : 16px;
}
#banner .left .title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 59.5px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    gap : 16px;

}
#banner .left .subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity : 0.9;
    gap : 16px;

}
#banner .btn{
    border-radius: 8px;
    width: 270px;
    height: 56px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: center;
    border : none;
}

#banner .right img{
    
    width: 100%;
    height: auto;   

}

#vision{
    width : 1400px;
    height : 400px;
    margin : 72px;
    gap : 32px;

}
.cardset{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height : auto;
    flex-direction: row;
    margin-top: 45px;
}
.card{
    width: 450px;
    height: auto;
    padding : 20px;
    border-radius : 10px;
    text-align : left;
    padding : 32px;
    display : flex;
    flex-direction: column;
    gap: 16px;
    
    
}
#one{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
#two{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);

}
#three{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}
.cardset button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width : 150px;
    height : 45px;
}
.btn1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
}
.btn2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
}
.btn3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

#pillar{
    width : 1400px;
    height : auto;
    margin : 72px;
    gap : 32px;

}
#vision .title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: left;

}

#vision p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    gap:24px;

}
#vision .cardset .title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    
}
.cardset img{
    width :50px;
    height: auto;
}

#pillar{
    width : 1400px;
    height : 300px;
    margin : 72px;
    gap : 32px;
}
.pillar-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height : auto;
    flex-direction: row;
    margin-top: 45px;
}
.pillars{
    width: 302px;
    height: auto;
    padding : 20px;
    border-radius : 10px;
    text-align : left;
    padding : 32px;
    display : flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.pillars img{
    width :50px;
    height: auto;
}
#pillar .pillar-container .topic{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    
}
#pillar p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    gap:24px;

}
#pillar .title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-top : 30px;
}
#quote{    
    width : 1400px;
    height : auto;
    margin-top : 32px;
    margin-bottom: 80px;
    gap : 32px;
    padding : 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background: url('assets/quote-bg.png') no-repeat;
    background-position: 24px 24px;
    background-size: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#quote .parent{
    display : flex;
    flex-direction: column;   
}
#quote .name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

}
#quote .info{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

}
#recent-news{
    padding-top: 380px;
    width : 1400px;
    height : auto;
    margin : 72px;
    gap : 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    
}
#recent-news .title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-top : 30px; 
}
#recent-news p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    gap:24px;
}


.news{
width: 1280px;
height: auto;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
padding: 48px;
margin: 24px 0px;
border-radius: 24px;
background: rgb(255, 255, 255);
}

.news .earth img{
    width: 408px;
    height: 306px;
    margin: 0  32px;
    border-radius: 24px;
    
}
.news .subtitle{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    
}
.content{
    width: 744px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 18px 0;
    
}
.aljazeera{
    width: 134px;
    height: 40;

    
}
.time{
    display: inline;
}
.news .btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 139px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 13px 26px 13px 26px;
    border : none;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;


}
.news2{
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    padding: 48px;
    margin: 24px 0px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    }


    #donate{ 
        width : auto;
        height : auto;
        margin : 72px;
        gap : 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height : auto;
        flex-direction: column;
        margin: 80px 0px;
        gap: 32;
        padding: 0px;
    }
    #donate .title{
        color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
        margin: 24px 0px;
    
    }
    #donate p{
        color: rgba(14, 14, 14, 0.7);
        font-family: Fira Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
    }
    .money-options{
        width: 1071px;
        height: 128px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        padding: 0px;
    
    }
    .amount{
        width: auto;
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24;
        padding: 40px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        color: rgba(14, 14, 14, 0.8);
        font-family: Fira Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: left;
        
    
    }
    #donate input{
        width: 1032px;
        height: 64px;
        box-sizing: border-box;
        align-items: center;
        gap: 24;
        padding: 20px 40px 20px 40px;
        border-bottom: 1px solid rgba(14, 14, 14, 0.15);
        background: rgb(255, 255, 255);
        color: rgba(14, 14, 14, 0.3);
        font-family: Fira Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        border :none;
    }
    #donate button{
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.1);
        border-radius: 8px;
        
        background: rgb(0, 106, 80);
        margin: 32px 0px;
        gap: 48;
        padding: 17px 34px 17px 34px;
        width: 165px;
        height: 56px;
        color: rgb(255, 255, 255);
        font-family: Fira Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
    }
    .amount:hover {
        background-color: rgb(198, 228, 214);
    }

    #subscribe{
        width: auto;
        height: 395px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 24px;
        background: rgb(198, 228, 214);
        margin : 80px
    
    }
    #subscribe .title{
        color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
        margin: 16px 0px;
        gap: 16;
    }
    #subscribe p{
        color: rgba(14, 14, 14, 0.7);
        font-family: Fira Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        gap: 16;
        padding: 0px;
    
    }
    .type{
        width : 850px;
        display : flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;  
    }
    .email input{
        border : none;
        outline : none;
        
    }
    .email{

        border-radius: 8px 0px 0px 8px;
        background: rgb(255, 255, 255);
        width: 600px;
        height: 56px;
        border: none;
        color: rgba(14, 14, 14, 0.3);
        font-family: Fira Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align:start;
        padding : 0 48px;
    }
    .subscribe-btn{
        border-radius: 0px 8px 8px 0px;
        background: rgb(0, 106, 80);
        width: 150px;
        height: 56px;
        gap: 48;
        padding: 17px 34px 17px 34px;
        color: rgb(255, 255, 255);
        font-family: Fira Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        border : none;
    }
    button:hover {
        background-color: #4a5a5c !important; 
        color: white !important;             
        transition: background 0.2s ease;     
        cursor: pointer;                     
    }
    